# CoreFlux Broker Configuration
COREFLUX_TAG=1.9.1
COREFLUX_CONTAINER_NAME=coreflux-broker
COREFLUX_HOSTNAME=coreflux-broker

# Port Mappings
MQTT_PORT=1883
MQTTS_PORT=1884
HTTP_PORT=8081
HTTPS_PORT=443
API_PORT=5001

# Network Configuration
NETWORK_NAME=coreflux-network

# Glances Configuration
GLANCES_TAG=latest-full
GLANCES_CONTAINER_NAME=coreflux-glances
GLANCES_HOSTNAME=coreflux-glances
GLANCES_WEB_PORT=61208

# Timezone
TZ=UTC

TIMESCALEDB_PORT=5433
